{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
<!--        heading section of the body-->
        <nav class="nav justify-content-center">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-companies" type="button" role="tab" aria-controls="nav-companies" aria-selected="true">Companies</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-positions" type="button" role="tab" aria-controls="nav-positions" aria-selected="false">Positions</button>
              <button class="nav-link" id="nav-date-tab" data-bs-toggle="tab" data-bs-target="#nav-date" type="button" role="tab" aria-controls="nav-date" aria-selected="false">Date</button>
              <button class="nav-link" id="nav-status-tab" data-bs-toggle="tab" data-bs-target="#nav-status" type="button" role="tab" aria-controls="nav-status" aria-selected="false">Status</button>
              <button class="nav-link" id="nav-rejected-tab" data-bs-toggle="tab" data-bs-target="#nav-rejected" type="button" role="tab" aria-controls="nav-rejected" aria-selected="false">Rejected</button>
              <button class="nav-link" id="nav-considered-tab" data-bs-toggle="tab" data-bs-target="#nav-considered" type="button" role="tab" aria-controls="nav-considered" aria-selected="false">Considered</button>
            </div>
          </nav>
    <!--        end of heading section-->


    <!--        body of the card-->
          <div class="tab-content p-5" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-companies" role="tabpanel" aria-labelledby="nav-companies-tab">
                <div class="list-group">
                    {% for app in resumes %}
                    <span class="list-group-item list-group-item-action" aria-current="false">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 lead"><a href="{% url 'update_app' app.pk %}">{{app.company}}</a> </h5>
                            <small>{{app.date}}</small>
                        </div>
                        <p class="mb-1"></p>
                        <small>Status: </small><small class="status">{{app.result}}</small>
                    </span>
                      {% endfor %}
                </div>
            </div>


            <div class="tab-pane fade" id="nav-positions" role="tabpanel" aria-labelledby="nav-positions-tab">
                <div class="list-group">
                    {% for app in resumes %}
                    <span class="list-group-item list-group-item-action" aria-current="false">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 lead text-warning">{{app.position}}</h5>
<!--                            here add edit link-->
                            <small>{{app.date}}</small>
                        </div>
                        <p class="mb-1"></p>
                        <small>Company: {{app.company}}</small>
                    </span>
                      {% endfor %}
                </div>
            </div>


            <div class="tab-pane fade" id="nav-date" role="tabpanel" aria-labelledby="nav-date-tab">
                <div class="list-group">
                    {% for app in resumes %}
                    <span class="list-group-item list-group-item-action" aria-current="false">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 lead">{{app.company}}</h5>
                            <small>{{app.date}}</small>
                        </div>
                        <p class="mb-1"></p>
                        <small>Status: </small><small class="status">{{app.result}}</small>
                    </span>
                      {% endfor %}
                </div>
            </div>


              <div class="tab-pane fade" id="nav-status" role="tabpanel" aria-labelledby="nav-status-tab">
                <div class="list-group">
                    {% for app in resumes %}
                    <span class="list-group-item list-group-item-action" aria-current="false">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 lead status">{{app.result}}</h5>
                            <small>{{app.date}}</small>
                        </div>
                        <p class="mb-1"></p>
                        <small>Company: {{app.company}}</small>
                    </span>
                      {% endfor %}
                </div>
              </div>



            <div class="tab-pane fade" id="nav-rejected" role="tabpanel" aria-labelledby="nav-rejected-tab">
                <div class="list-group">
                    {% for app in rejected %}
                    <span class="list-group-item list-group-item-action" aria-current="false">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 lead text-danger">{{app.company}}</h5>
                            <small>{{app.date}}</small>
                        </div>
                        <p class="mb-1"></p>
                        <small>Position: {{app.position}}</small>
                    </span>
                      {% endfor %}
                </div>
            </div>



            <div class="tab-pane fade" id="nav-considered" role="tabpanel" aria-labelledby="nav-considered-tab">
                <div class="list-group">
                    {% for app in considered %}
                    <span class="list-group-item list-group-item-action" aria-current="false">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 lead"><a href="{% url 'update_app' app.pk %}">{{app.company}}</a> </h5>
                            <small>{{app.date}}</small>
                        </div>
                        <p class="mb-1"></p>
                        <small>Position: {{app.position}}</small>
                    </span>
                      {% endfor %}
                </div>
            </div>
          </div>
    </div>

<script>
    const statusColor = document.querySelectorAll('.status');

    statusColor.forEach(element => {
      const statusText = element.innerText.trim().toLowerCase();

      if (statusText === 'under consideration') {
        element.classList.add('text-warning');
      } else if (statusText === 'rejected') {
        element.classList.add('text-danger');
      }
      else if (statusText === 'accepted') {
        element.classList.add('text-success');
      }
    });

</script>
{% endblock %}