{% extends 'base.html' %}
{% load crispy_forms_tags %}

   {% if messages %}
        <div class="container alertClass" style="padding-top: 40px">
            <div class="col-sm-offset-3">
                {% for message in messages %}
                    <div class=" text-center alert alert-{{ message.tags }}" role="alert">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    {% endif %}

{% block content %}
    <div class="container">

        <form action="" method="POST">
                {%csrf_token%}
                <div class="form-group" style="margin-bottom: 70px;">
                    {{ form|crispy }}
                    <br>
                    <button class="btn border-warning second rounded-pill" type="submit">Create</button>
                </div>
        </form>
    </div>

{% endblock %}
